definitions:
  model.User:
    properties:
      bio:
        description: 'example: Just a regular user.'
        type: string
      email:
        description: 'example: foo@bar.com'
        type: string
      id:
        description: 'example: 1'
        type: integer
      username:
        description: 'example: johndoe'
        type: string
    type: object
info:
  contact: {}
paths:
  /user:
    get:
      description: Returns a list of users
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.User'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: List users
      tags:
      - user
swagger: "2.0"
